//Breakpoints
$bp-sm-movil: 576px;
$bp-md-tablet: 768px;
$bp-lg-laptop: 992px;
$bp-xl-desktop: 1200px;

//Font Family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

//Fonts
$font-poppins: 'Poppins', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

//Font Size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Font Weight
$font-regular: 400;
$font-bold: 700;

//Colors
$white: #fff;
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
$gray: #505050;
$tangerine: #ffaf6d;
$orange: #ffa500;
